body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.left-nav .logo {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    margin-right: 15px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.right-nav {
    display: flex;
    align-items: center;
}

.logout-btn, .login-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px;
    height: 50px;
    width: 150px;
}

.logout-btn:hover, .login-btn:hover {
    background-color: #0056b3;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.container p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

.container a {
    color: #007BFF;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
    transition: color 0.3s;
}

.container a:hover {
    color: #0056b3;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    width: 100%;
}

.container form {
    background-color: white;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#searchInput {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
}

h1 {
    color: #333;
}

ul#userList {
    list-style-type: none;
    padding: 0;
}

ul#userList li {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul#userList li:hover {
    background-color: #f1f1f1;
}

.photo-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.photo-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /*transition: transform 0.2s;*/
}

/*.photo-item:hover {*/
/*    transform: scale(1.05);*/
/*}*/

.photo-item img {
    max-width: 100%;
    border-radius: 10px;
}

.photo-item p {
    margin: 10px 0;
    color: #555;
}

form div {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

form input {
    margin-bottom: 25px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.flashes .success {
    background-color: #d4edda;
    color: #155724;
}

.flashes .danger {
    background-color: #f8d7da;
    color: #721c24;
}

.signinSignup{
    margin-top: 10px;
}

.signup-form {
    background: white;
    padding: 40px 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.signup-form h2 {
    margin-bottom: 20px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.signup-form button:hover {
    background-color: #218838;
}

#modalSendMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.56);
}
#modalSendMessage div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    background: white;
    border-radius: 20px;
}
#modalSendMessage div div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 90%;
}
#modalSendMessage div div div{
    display: flex;
    flex-direction: row;
    height: 14%;
    width: 100%;
}
#messageContent{
    height: 60%;
    width: 100%;
    margin-bottom: 10px;
}
#sendMessage{
    width: 80%;
    height: 100%;
    background: #4CAF50;
}
#close{
    width: 15%;
    height: 100%;
    background: red;
}

