<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Feed - Personal Photo Diary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="modalSendMessage" style="display: none;">
        <div>
            <div>
                <span id="targetId" style="display: none;"></span>
                <h1 id="targetName"></h1>
                <label for="messageContent">메세지</label>
                <textarea id="messageContent"  required> </textarea>
                <div>
                    <button type="button" id="sendMessage" onclick="sendMessage()">Send Message</button>
                    <button type="button" id="close" onclick="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="left-nav">
            <div class="logo">Photo Diary</div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/feed">Feed</a>
                <a href="/userlist">User List</a>
                <a href="/messages">Messages</a>
                <a href="/myprofile">My Profile</a>
            </div>
        </div>
        <button id="LoginButton" class="login-btn" >LogOut</button>
    </div>
    <div class="container">
        <h1>Photo Feed</h1>
        <input type="text" id="searchInput" placeholder="Search by keywords..." onkeyup="searchPhotos()">
        <div id="photoFeed" class="photo-feed">
            {% for feed in feeds %}
            <div class="photo-item" >
                <img src="{{ feed[3] }}" alt="Photo by {{ user[loop.index - 1] }}">
                <p>{{ feed[2] }}</p>
                <p class="keyword">{% for word in keyword[loop.index - 1] %}
                            #{{ word }}
                    {% endfor %}</p>
                <p><small>by {{ user[loop.index - 1] }}</small></p>
                <button type="button" onclick="sendMode('{{ user[loop.index - 1] }}','{{ userId[loop.index - 1] }}')" >Send Message</button>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <script>
        function sendMessage(){
            const res = axios.post('/messages',{
                'receiverId':document.getElementById('targetId').innerText,
                'message': document.getElementById('messageContent').value
            }).then(response=>{
                if (response.data ==='Success'){
                closeModal()
                alert("메세지 전송 성공")
            }else{
                alert("메세지 전송 실패")
            }
            })


        }
        function sendMode(target,targetId){
            document.getElementById("targetName").innerText = "Send to "+target
            document.getElementById("targetId").innerText = targetId
            document.getElementById("modalSendMessage").style.display="flex"

        }
        function closeModal(){
            console.log("투명")
            document.getElementById('messageContent').value=""
            document.getElementById("modalSendMessage").style.display="none"
        }



        function searchPhotos() {
            let input = document.getElementById('searchInput').value.toLowerCase();
            let photoItems = document.querySelectorAll('.photo-item');
            
            photoItems.forEach(function(item) {
                let keyword = item.querySelector('.keyword').innerText.toLowerCase();
                if (keyword.includes(input)) {
                    item.style.display = 'flex';
                } else {
                    item.style.display = 'none';
                }
            });
        }
        logButton =document.getElementById("LoginButton")
        function checkSession(){
        if(logButton.innerText === "LogIn"){
            axios.get('/signin')
             window.location.href = "/signin"
        }
        if(logButton.innerText ==="LogOut"){
            axios.get('/logout')
            location.reload()
        }
    }

    logButton.addEventListener("click",checkSession)
    </script>
</body>
</html>
