<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Personal Photo Diary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" > </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="left-nav">
            <div class="logo">Photo Diary</div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/feed">Feed</a>
                <a href="/userlist">User List</a>
                <a href="/messages">Messages</a>
                <a href="/myprofile">My Profile</a>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Sign In</h1>
        <form action="/signin" method="post">
                <label for="username"></label>
                <input type="text" id="email" name="username" placeholder="Email" required>
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="password">
            <button id="signinButton" type="submit">Sign In</button>
        </form>
    <div class="signinSignup">
        <a href="/signup">Sign Up</a>
    </div>
{#        {% with messages = get_flashed_messages(with_categories=true) %}#}
{#          {% if messages %}#}
{#            <ul class="flashes">#}
{#              {% for category, message in messages %}#}
{#                <li class="{{ category }}">{{ message }}</li>#}
{#              {% endfor %}#}
{#            </ul>#}
{#          {% endif %}#}
{#        {% endwith %}#}
    </div>
</body>
<script>
    async function signIn(e) {
    e.preventDefault()

        try {
             const res = await axios.post('signin',{
                'email':document.getElementById('email').value,
                'password':document.getElementById('password').value,
             })
            if(res.status === 200){
                window.location.href='/'
            }
        }catch(error){
            if (error.response&&error.response.data.error){
            alert(error.response.data.error)
            }
            return null;
        }
}
document.getElementById('signinButton').addEventListener('click',signIn)

</script>
</html>
